

#about_as_center{
	display: flex;
	flex-direction: column;
	gap: 94px;
	margin: 120px 120px 0 120px;
}

.aboutAs{
	display: flex;
	align-items: center;
	justify-content: center;
}

.info_about_us{
	display: flex;
	flex-direction: column;
	gap: 30px;
	background: url('../Content/content_images/bacgraund.png');
	background-position: center;
	background-size: cover;
	z-index: 1;
	height: 190px;
	padding: 0px 30px 0px 30px;
}




.info_about_us h2{
	color:var(--white);
}

@media (max-width:1200px){
	#about_as_center{
		margin: 120px 80px 0 80px;
	}
}


@media (max-width:960px){
	#about_as_center{
		margin: 120px 60px 0 60px;
	}

}


@media (max-width:660px){
	#about_as_center{
		margin: 120px 30px 0 30px;
	}
	.info_about_us{
		height: auto;
		padding: 10px;
		align-items: center;
	}
	.aboutAs{
		flex-direction: column;
	}
}